biopython==1.81
scipy==1.14.1
contourpy==1.1.1
cycler==0.12.1
fonttools==4.43.1
importlib-resources==6.1.0
kiwisolver==1.4.5
matplotlib==3.8.0
messagebox==0.1.0
numpy==1.25.2
packaging==23.2
pandas==2.1.1
Pillow==10.0.1
pyparsing==3.1.1
PySimpleGUI==4.60.5
python-dateutil==2.8.2
pytz==2023.3.post1
six==1.16.0
tk==0.1.0
tkinterweb==3.21.1
tkinterx==0.0.9
tzdata==2023.3
zipp==3.17.0
